.border {
  border: 1px solid black;
}
.border2 {
  border: 3px solid black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0 auto;
}
header {
  background-image: url(https://unsplash.com/photos/eMc0lpn1P60);
}
h1 {
  font-family: 'Acme', sans-serif;
  font-size: 20rem;
  color: #aa863a;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #f0eceb;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  color: #f0eceb;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #283018;
}
nav {
  font-family: 'Signika', sans-serif;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #f0eceb;
  border: 1px solid white;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #f0eceb;
}
.container1 {
  width: 100%;
  height: auto;
  background-image: url("../images/bg-image.jpg");
}
.container1 .links {
  display: flex;
  justify-content: flex-start;
}
@media (max-width:500px) {
  .container1 .links {
    justify-content: center;
    padding-top: 1%;
  }
}
.container1 .links a {
  margin: 1%;
  padding: 0 1.5%;
  background-color: black;
  border-radius: 5px;
}
.container1 .links a:hover {
  color: #aa863a;
}
.container1 .appTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 h1 {
  font-weight: 800;
  margin: 5% 0 1%;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.container1 h3 {
  font-weight: 800;
  margin: 2% 0 1%;
  color: #aa863a;
}
@media (max-width:500px) {
  .container1 {
    text-align: center;
  }
}
.container1 .btn {
  margin: 4% 0 4%;
  color: #f0eceb;
  background-color: black;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 3rem;
}
.container1 .btn:hover {
  color: #aa863a;
}
.about1 {
  background-color: black;
}
.about1 .about-links {
  display: flex;
  justify-content: center;
  padding: 1%;
}
@media (max-width:500px) {
  .about1 {
    padding: 2% 0;
  }
}
.about1 a {
  margin: 1%;
  padding: 0 1%;
  background-color: black;
  border-radius: 5px;
}
.about1 a:hover {
  color: #aa863a;
  text-decoration: none;
}
.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width:500px) {
  .container2 {
    flex-direction: column;
  }
}
.container2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: center;
}
@media (max-width:500px) {
  .container2 div {
    width: 100%;
  }
}
.container2 div h2 {
  margin-bottom: 2%;
}
.container2 div p {
  letter-spacing: 0.2rem;
  line-height: 3rem;
  margin-bottom: 2%;
}
.container2 .heading1 {
  background: #000000;
  background: linear-gradient(90deg, #283018 0%, #729f98 90%);
  border-radius: 10px;
  padding: 1%;
  margin: 2% 1%;
}
@media (max-width:500px) {
  .container2 .heading1 {
    margin: 1% 0;
    background: #729f98;
  }
}
.container2 .heading2 {
  background: #333366;
  background: linear-gradient(90deg, #729f98 10%, #283018 100%);
  border-radius: 10px;
  padding: 1%;
  margin: 2% 1%;
}
@media (max-width:500px) {
  .container2 .heading2 {
    margin: 1% 0;
    background: #729f98;
  }
}
.container2 img {
  width: 100%;
  border-radius: 20px;
}
.about2 {
  background-image: url("../images/about-header-img.jpg");
  background-size: 100%;
}
@media (max-width:500px) {
  .about2 {
    background-image: none;
    background-color: black;
  }
}
.about2 .team-header {
  text-align: center;
  padding-top: 2%;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.about2 .team-header h1 {
  font-size: 9rem;
  color: #f0eceb;
}
.about2 .row1 {
  display: flex;
  justify-content: center;
  padding: 2%;
}
@media (max-width:500px) {
  .about2 .row1 {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.about2 .row1 .our-team {
  border: 3px solid black;
  width: 100%;
  padding: 2% 1%;
  background: white;
  border-radius: 15px;
  text-align: center;
}
.about2 .row1 .our-team .pic {
  width: 100%;
  background: white;
  padding: 2%;
  margin-bottom: 4%;
  transition: all 0.5s ease 0s;
}
.about2 .row1 .our-team .pic:hover {
  background: #aa863a;
  border-radius: 50%;
}
.about2 .row1 .our-team img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.about2 .row1 .our-team .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1%;
}
.about2 .row1 .our-team .post {
  font-size: 2.5rem;
  color: #283018;
  margin-bottom: 2%;
}
.about2 .row1 .our-team .social {
  font-size: 3rem;
  margin-top: 2%;
}
.about2 .row1 .our-team .social a {
  padding: 0 2%;
  border-radius: 50%;
  color: #283018;
}
.about2 .row1 .our-team .social a:hover {
  background: #aa863a;
  border-radius: 50%;
}
.about2 .row2 {
  display: flex;
  justify-content: center;
  padding: 0 2% 2%;
}
@media (max-width:500px) {
  .about2 .row2 {
    flex-direction: column;
  }
}
.about2 .row2 .our-team {
  border: 3px solid black;
  width: 25%;
  padding: 2% 1%;
  background: white;
  border-radius: 15px;
  text-align: center;
}
@media (max-width:500px) {
  .about2 .row2 .our-team {
    width: 100%;
  }
}
.about2 .row2 .our-team .pic {
  width: 100%;
  background: white;
  padding: 2%;
  margin-bottom: 4%;
  transition: all 0.5s ease 0s;
}
.about2 .row2 .our-team .pic:hover {
  background: #aa863a;
  border-radius: 50%;
}
.about2 .row2 .our-team img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.about2 .row2 .our-team .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1%;
}
.about2 .row2 .our-team .post {
  font-size: 2.5rem;
  color: #283018;
  margin-bottom: 2%;
}
.about2 .row2 .our-team .social {
  font-size: 3rem;
  margin-top: 2%;
}
.about2 .row2 .our-team .social a {
  padding: 0 2%;
  border-radius: 50%;
  color: #283018;
}
.about2 .row2 .our-team .social a:hover {
  background: #aa863a;
  border-radius: 50%;
}
.container3 {
  background-color: black;
}
.container3 nav {
  display: flex;
  justify-content: center;
  padding: 1%;
}
@media (max-width:500px) {
  .container3 nav {
    padding: 2%;
  }
}
.container3 nav a {
  margin: 1%;
  padding: 0 1.5%;
  background-color: black;
  border-radius: 5px;
}
.container3 nav a:hover {
  color: #aa863a;
  text-decoration: none;
}
.container3 p {
  font: #f0eceb;
  text-align: center;
}
