.border {
  border: 1px solid black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0 auto;
}
header {
  background-image: url(https://unsplash.com/photos/eMc0lpn1P60);
}
h1 {
  font-family: 'Acme', sans-serif;
  font-size: 20rem;
  color: #FF9933;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  color: #FFFFFF;
}
nav {
  font-family: 'Signika', sans-serif;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.container1 {
  width: 100%;
  height: auto;
  background-image: url("../images/bg-image.jpg");
}
.container1 .links {
  display: flex;
  justify-content: flex-start;
}
@media (max-width:500px) {
  .container1 .links {
    justify-content: center;
  }
}
.container1 .links a {
  margin: 1%;
  padding: 0 1%;
  background-color: black;
  border-radius: 5px;
}
.container1 .links a:hover {
  color: #FF9933;
}
.container1 .appTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 h1 {
  margin: 5% 0 1%;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.container1 h3 {
  margin: 5% 0 1%;
  color: #FF9933;
}
.container1 .btn {
  margin: 5% 0 1%;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 3rem;
}
.container1 .btn:hover {
  color: #FF9933;
}
.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width:500px) {
  .container2 {
    flex-direction: column;
  }
}
.container2 div {
  width: 33%;
  text-align: center;
  border: 1px solid black;
}
@media (max-width:500px) {
  .container2 div {
    width: 100%;
  }
}
.container2 div h2,
.container2 div p {
  padding-bottom: 2%;
}
.container2 .heading1 {
  background-color: #333366;
  border-radius: 10px;
  padding: 1%;
  margin: 1% 1% 0;
}
@media (max-width:500px) {
  .container2 .heading1 {
    margin: 0;
  }
}
.container2 .heading2 {
  background-color: #333366;
  border-radius: 10px;
  padding: 1%;
  margin: 1% 0 0;
}
@media (max-width:500px) {
  .container2 .heading2 {
    margin: 0;
  }
}
.container2 .heading3 {
  background-color: #333366;
  border-radius: 10px;
  padding: 1%;
  margin: 1% 1% 0;
}
@media (max-width:500px) {
  .container2 .heading3 {
    margin: 0;
  }
}
.container2 img {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.container3 {
  text-align: center;
}
.container3 nav {
  margin: 1%;
  padding: 1%;
}
.container3 nav a {
  margin: 1%;
  padding: 0 1%;
  background-color: black;
  border-radius: 5px;
}
