.container2 {
    display: flex;
    justify-content: center;
    width: 100%;

    @media @phone {
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        text-align: center;

            @media @phone {
                width: 100%;
            }

        h2 {
            margin-bottom: 2%;
        }

        p {
            margin-bottom: 2%;
        }
    }

    .heading1 {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,51,102,1) 90%);
        border-radius: 10px;
        padding: 1%;
        margin: 2% 1%;

        @media @phone {
            margin: 1% 0;
            background: @section-bg-color;
        }
    }

    .heading2 {
        background-color: @section-bg-color;
        border-radius: 10px;
        padding: 1%;
        margin: 2% 0;

        @media @phone {
            margin: 1% 0;
        }
    }

    .heading3 {
        background: rgb(51,51,102);
        background: linear-gradient(90deg, rgba(51,51,102,1) 10%, rgba(0,0,0,1) 100%);
        border-radius: 10px;
        padding: 1%;
        margin: 2% 1%;

        @media @phone {
            margin: 1% 0;
            background: @section-bg-color;
        }
    }

    img {
        width: 100%;
        border-radius: 20px;
    }
}



///////// ABOUT US PAGE ////////

.about2 {
    background-image: url("../images/about-header-img.jpg");
    background-size: 100%;

    .row1 {
        display: flex;
        justify-content: center;
        padding: 2%;

        @media @phone {
            flex-direction: column;
            padding-bottom: 0;
        }

        .our-team {
            .border2;
            width: 100%;
            padding: 20px 15px 30px;
            background: white;
            border-radius: 15px;
            text-align: center;

            .pic {
                width: 100%;
                background: white;
                padding: 10px;
                margin-bottom: 25px;
                transition: all 0.5s ease 0s;
            }

            .pic:hover {
                background: @lendr-color;
                border-radius: 50%;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }

            .title {
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 1%;
            }

            .post {
                font-size: 2.5rem;
                color: #17bebb;
                margin-bottom: 2%;
            }

            .social {
                font-size: 3rem;
                margin-top: 2%;


                a {
                    color: @section-bg-color;
                }

                a:hover {
                    background: @lendr-color;
                    border-radius: 50%;
                }
            }
        }
    }

    .row2 {
        display: flex;
        justify-content: center;
        padding: 0 2% 2%;

        @media @phone {
            flex-direction: column;
        }

        .our-team {
            .border2;
            width: 25%;
            padding: 20px 15px 30px;
            background: white;
            border-radius: 15px;
            text-align: center;

            @media @phone {
                width: 100%;
            }

            .pic {
                width: 100%;
                background: white;
                padding: 10px;
                margin-bottom: 25px;
                transition: all 0.5s ease 0s;
            }

            .pic:hover {
                background: @lendr-color;
                border-radius: 50%;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }

            .title {
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 1%;
            }

            .post {
                font-size: 2.5rem;
                color: #17bebb;
                margin-bottom: 2%;
            }

            .social {
                font-size: 3rem;
                margin-top: 2%;

                a {
                    color: @section-bg-color;
                }

                a:hover {
                    background: @lendr-color;
                    border-radius: 50%;
                }
            }
        }
    }
}