.container2 {
    display: flex;
    justify-content: center;
    width: 100%;

    @media @phone {
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        text-align: center;

            @media @phone {
                width: 100%;
            }

        h2 {
            margin-bottom: 2%;
        }

        p {
            margin-bottom: 2%;
        }
    }

    .heading1 {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,51,102,1) 90%);
        border-radius: 10px;
        padding: 1%;
        margin: 2% 1%;

        @media @phone {
            margin: 1% 0;
            background: @section-bg-color;
        }
    }

    .heading2 {
        background-color: @section-bg-color;
        border-radius: 10px;
        padding: 1%;
        margin: 2% 0;

        @media @phone {
            margin: 1% 0;
        }
    }

    .heading3 {
        background: rgb(51,51,102);
        background: linear-gradient(90deg, rgba(51,51,102,1) 10%, rgba(0,0,0,1) 100%);
        border-radius: 10px;
        padding: 1%;
        margin: 2% 1%;

        @media @phone {
            margin: 1% 0;
            background: @section-bg-color;
        }
    }

    img {
        width: 100%;
        border-radius: 20px;
    }
}



///////// ABOUT US PAGE ////////

.about2 {
    background-image: url("../images/about-header-img.jpg");
    background-size: 100%;

    @media @phone {
        background-image: none;
        background-color: black;
    }

    .team-header {
        text-align: center;
        padding-top: 2%;
        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes slide-in-elliptic-top-fwd {
            0% {
              transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform-origin: 50% 100%;
              opacity: 0;
            }
            100% {
              transform: translateY(0) rotateX(0) scale(1);
              transform-origin: 50% 1400px;
              opacity: 1;
            }
        }

        h1 {
            font-size: 9rem;
            color: @text-colors;
        }
    }

    .row1 {
        display: flex;
        justify-content: center;
        padding: 2%;

        @media @phone {
            flex-direction: column;
            padding-bottom: 0;
        }

        .our-team {
            .border2;
            width: 100%;
            padding: 2% 1%;
            background: white;
            border-radius: 15px;
            text-align: center;

            .pic {
                width: 100%;
                background: white;
                padding: 2%;
                margin-bottom: 4%;
                transition: all 0.5s ease 0s;
            }

            .pic:hover {
                background: @lendr-color;
                border-radius: 50%;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }

            .title {
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 1%;
            }

            .post {
                font-size: 2.5rem;
                color: #17bebb;
                margin-bottom: 2%;
            }

            .social {
                font-size: 3rem;
                margin-top: 2%;


                a {
                    padding: 0 2%;
                    border-radius: 50%;
                    color: @section-bg-color;
                }

                a:hover {
                    background: @lendr-color;
                    border-radius: 50%;
                }
            }
        }
    }

    .row2 {
        display: flex;
        justify-content: center;
        padding: 0 2% 2%;

        @media @phone {
            flex-direction: column;
        }

        .our-team {
            .border2;
            width: 25%;
            padding: 2% 1%;
            background: white;
            border-radius: 15px;
            text-align: center;

            @media @phone {
                width: 100%;
            }

            .pic {
                width: 100%;
                background: white;
                padding: 2%;
                margin-bottom: 4%;
                transition: all 0.5s ease 0s;
            }

            .pic:hover {
                background: @lendr-color;
                border-radius: 50%;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }

            .title {
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 1%;
            }

            .post {
                font-size: 2.5rem;
                color: #17bebb;
                margin-bottom: 2%;
            }

            .social {
                font-size: 3rem;
                margin-top: 2%;

                a {
                    padding: 0 2%;
                    border-radius: 50%;
                    color: @section-bg-color;
                }

                a:hover {
                    background: @lendr-color;
                    border-radius: 50%;
                }
            }
        }
    }
}