.container3 {
    background-color: @header-footer-bg;

    nav {
        display: flex;
        justify-content: center;
        padding: 1%;

        @media @phone {
            padding: 2%;
        }

        a {
            margin: 1%;
            padding: 0 1.5%;
            background-color: @header-footer-bg;
            border-radius: 5px;
        }

        a:hover {
            color: @main-color;
            text-decoration: none;
        }
    }

    p{
        font: @text-color;
        text-align: center;
    }
}