.container3 {
    text-align: center;

    nav {
        margin: 1%;
        padding: 1%;

        a {
            margin: 1%;
            padding: 0 1%;
            background-color: black;
            border-radius: 5px;
        }
    }
}