* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: url(https://unsplash.com/photos/eMc0lpn1P60);
}

h1 {
    font-family: @lendr-font;
    font-size: 20rem;
    color: @main-color;
}

h2 {
    font-family: @allOtherFonts;
    font-size: 3rem;
    color: @text-color;
}

h3 {
    font-family: @allOtherFonts;
    font-size: 2.3rem;
    color: @text-color;
}

h4 {
    font-family: @allOtherFonts;
    font-size: 1rem;
    color: @about-page-text;  
}

nav {
    font-family: @nav-font;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: @text-color;
    border: 1px solid white;
}

p {
    font-family: @allOtherFonts;
    font-size: 1.6rem;
    color: @text-color;
}