.container1 {
    width: 100%;
    height: auto;
    background-image: url("../images/bg-image.jpg");

    .links {
        display:flex;
        justify-content: flex-start;

            @media @phone {
                justify-content: center;
            }

        a{
            margin: 1%;
            padding: 0 1%;
            background-color: black;
            border-radius: 5px;
        }

        a:hover {
            color: @lendr-color;
        }
    }

    .appTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 5% 0 1%;
        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        @keyframes tracking-in-expand {
            0% {
              letter-spacing: -0.5em;
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              opacity: 1;
            }
        }
    }

    h3 {
        margin: 5% 0 1%;
        color: @lendr-color;
    }

    .btn {
        margin: 5% 0 1%;
        .button(white,black,10px);
    }

    .btn:hover {
        color: @lendr-color;
    }
}