.container1 {
    .links {
        display:flex;
        justify-content: flex-end;

        a{
            margin: 1%;
            padding: 0 1%;
            background-color: black;
            border-radius: 5px;
        }

        a:hover {
            color: @lendr-color;
        }
    }

    .appTitle {
        .border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}