// Mobile var //
@phone: ~'(max-width:500px)';

// Tablet var //
@tablet: ~'(max-width:800px)';

// Font //
@lendr-font: 'Acme', sans-serif;
@allOtherFonts: 'Roboto', sans-serif;
@nav-font: 'Signika', sans-serif;

// Font Color //
@lendr-color: #FF9933;
@nav-color: #FFFFFF;
@text-colors: #FFFFFF;
@section-bg-color: #333366;