// Mobile var //
@phone: ~'(max-width:500px)';

// Tablet var //
@tablet: ~'(max-width:800px)';

// Font //
@lendr-font: 'Acme', sans-serif;
@allOtherFonts: 'Roboto', sans-serif;
@nav-font: 'Signika', sans-serif;

// Font Color //
@lendr-color: rgba(255, 217, 0, 0.801);
@allOtherColors: black;
@nav-color: white;